{% include 'sitio/cabecera.html' %}
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Bienvenido</h2>
                <p>More info</p>
                <a button class="btn btn-warning" href="/libros" type="button">Ver libros disponibles</a>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="h-100 p-5 bg-primary border rounded-3">
                <h2>Otro rollo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit duis, odio porta vel sagittis netus laoreet fusce justo, vulputate a pellentesque pretium per sociis sollicitudin.</p>
                <button class="btn btn-danger" type="button">Example button</button>
            </div>
        </div>
    </div>
  {% include 'sitio/pie.html' %}